<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
	text-align: middle;
    padding: 3px;
}
td {
	text-align: right;
    padding: 3px;
}
</style>
</head>
<body>

<h2>Crypto-Currency Data Loading Validation</h2>

<table>
<tr>
<th>Exchange</th>
<th>Ticker</th>
<th>Price Currency</th>
<th>Interval/s</th>
<th>Row Count</th>
<th>Earlist Timestamp</th>
<th>Latest Timestamp</th>
<th>Up To Date</th>
<th>No Missing Row</th>
</tr>
#foreach( $obj in $objs )
<tr>
<td>$obj.exchangeName</td>
<td>$obj.ticker</td>
<td>$obj.pricingCurrency</td>
<td>$obj.interval</td>
<td>$obj.dataCount</td>
<td>$obj.earlistTimeStamp</td>
<td>$obj.latestTimeStamp</td>
<td>$obj.upToDate</td>
<td>$obj.noMissing</td>
</tr>
#end
</table>

<p style="font-size:smaller;">GMT Time: $gmtTime</p>
<p style="font-size:smaller;">NYC Time: $nycTime</p>
<p style="font-size:smaller;">BJ Time:  $bjTime</p>

</body>
</html>
